html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.menu {
  padding: 1.5rem;
}

.menu form {
  margin-bottom: 1.875rem;
}

.menu__input {
  width: 100%;
  padding: 1rem 0.8rem;
  border: none;
  border-radius: 10px;
  background: #f7f7f7 url("/icons/loupe.svg") no-repeat 95%;
  background-size: 16px;
}

.menu__cards h1 {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 22px;
  font-weight: lighter;
  color: #6b6b6b;
  min-height: 50vh;
  width: 230px;
  margin: auto;
  line-height: 3rem;
}

.menu__cards .card {
  position: relative;
  width: 100%;
  height: 150px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 2rem;
  cursor: pointer;
}

.menu__cards .card .card__photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.menu__cards .card .card__info {
  position: absolute;
  padding: 0rem 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__cards .card .card__info .city,
.menu__cards .card .card__info .temp {
  margin: 0rem 0rem 1rem;
  color: #fff;
}

.menu__cards .card .card__info .city {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.menu__cards .card .card__info .temp {
  font-size: 2rem;
}

.weather__img {
  width: 100%;
  min-height: 60vh;
  position: relative;
}

.weather__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.weather__img .stats {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  text-align: center;
  color: #fff;
}

.weather__img .stats #desc {
  font-size: 1.6rem;
  margin: 1rem 0rem;
}

.weather__img .stats #day {
  font-size: 1.1rem;
  margin: 1rem 0rem;
}

.weather__img .stats #temp {
  font-size: 7.6rem;
  margin: 1rem 0rem;
  position: relative;
}

.weather__img .stats #temp span {
  font-size: 3rem;
  position: absolute;
  top: 0;
}

.weather__info {
  padding: 0.2rem 1rem;
}

.weather__info h4 {
  margin-top: 0rem;
  font-size: 1.3rem;
  padding: 0rem 0.3rem;
  position: relative;
}

.weather__info h4::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  top: 130%;
  left: 2%;
  background: #3f3f3f;
}

.weather__info .icons-container {
  padding: 0rem 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.weather__info .icons-container .icon {
  text-align: center;
}

.weather__info .icons-container .icon .weekday {
  font-size: 1rem;
}
/*# sourceMappingURL=styles.css.map */