// 
body {
    background-image: url('/dist/img/clear.jpg');
    background-position: center;
    background-size: cover;
}

.weather {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1.5fr 0.8fr;
    max-width: 1280px;
    padding: 1rem;
    margin: auto;


    &__btns {
        display: flex;
        justify-content: space-between;
        align-self: center;
        padding: 0rem 1rem;

        @include breakpoint-up(large) {
            justify-content: space-around;
        }


        i {
            color: #fff;
            font-size: 1.4rem;
        }
    }

    &__main {
        align-self: center;


        .stats {
            text-align: center;
            color: #fff;



            #city {
                margin-top: 0rem;
                font-size: 1.7rem;
            }

            #desc {
                font-size: 1.2rem;
            }

            .main-icon {
                width: 150px;

                @include breakpoint-up(medium) {
                    width: 200px;
                }

                @include breakpoint-up(large) {
                    width: 250px;
                }
            }

            #temp {
                font-size: 2.1rem;
                margin-top: 1rem;
                margin-bottom: 0rem;

                @include breakpoint-up(large) {
                    font-size: 3rem;
                }

            }
        }
    }

    &__info {
        align-self: center;


        // margin-bottom: 3rem;
        .days-info {
            display: flex;
            justify-content: space-between;
            margin: 0rem 1rem;

            @include breakpoint-up(large) {
                width: 80%;
                margin: auto;
                justify-content: center;
            }

            .today,
            .four-days {
                width: 50%;
                padding: 0.5rem 0rem 0.7rem;
                font-size: 0.9rem;
                background: transparent;
                border: none;
                border-bottom: 1px solid #fff;
                color: #fff;
                // font-weight: bold;
                text-transform: uppercase;

                @include breakpoint-up(large) {
                    width: 40%;
                    font-size: 1.1rem;
                }



            }

            .today.active,
            .four-days.active {
                border-bottom: 2px solid rgb(168, 149, 149);
            }



        }

        .icons-container {
            display: flex;
            padding: 1rem 1rem;
            justify-content: space-around;
            align-items: center;
            color: #fff;

            @include breakpoint-up(large) {
                width: 80%;
                margin: 2rem auto 0rem;
            }
        }

        .icon {
            text-align: center;

            p {
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;

                @include breakpoint-up(large) {
                    font-size: 1.2rem;
                }
            }

            img {
                width: 45px;
                height: 45px;

                @include breakpoint-up(large) {
                    width: 55px;
                    height: 55px;
                }
            }
        }


    }
}